.auth_form{
    /* background-color: red; */
    padding: 28px 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input_field{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    gap: 24px
}

.input_field_image_wrapper{
    /* background-color: green; */
}

.input{
    /* background-color: blue; */
    border: none;
    color: inherit;
    font-size: inherit;
    height: 48px;
    padding: 16px 24px;
    box-sizing: border-box;
    width: 360px;
}

.input:focus{
    outline: none;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.link{
    color: var(--text-muted);
    text-decoration: underline;
}

.field_small_container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}