.logo {
  /* font-family: var(--font-istok-web);
  font-weight: 700;
  font-size: 40px; */
  color: var(--success);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.gradient_part {
  background: linear-gradient(90.02deg, rgba(255, 255, 255, 1) 0.02%, rgba(153, 153, 153, 1) 144.48%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.green_part{
  color: #38cfa4;
  display: inline;
}

.logo_nav_link{
  text-decoration: none;
}

.bebra{
  /* color: var(--text-muted); */
}