header {
  height: 104px;
  background: linear-gradient(192.08deg, #2C3331 -88.48%, #212121 141.66%);
  color: rgb(255, 255, 255);
  font-size: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 104px;
}

/* search bar */

.search_bar{
  width: 812px;
  height: 32px;
  border-radius: 12px;
  background: rgba(217, 217, 217, 1);
  text-align: left;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.search_bar img{
  width: 37px;
  height: 37px;
  rotate: 77.48deg;
}

.search_bar input{
  color: rgba(38, 41, 40, 1);
  font-family: IstokWebBold;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  flex: 1;
}

#search_input{
  border: none;
  background: none;
}

#search_input:focus{
  border: none;
  outline: none;
  background: none;
}

/* navigation */

nav {
  display: flex;
  flex-direction: row;
  gap: 26px;
}

nav a {
  height: 62px;
  width: 62px;
  border-radius: 17px;
  background: 
  linear-gradient(rgba(38, 41, 40, 1), rgba(38, 41, 40, 1)) padding-box,
  linear-gradient(256.41deg, #1BFABB -49.55%, #4B7A6D 162.92%) border-box;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

nav a img{
  width: 28px;
}

#nav_plus{
  font-family: IstokWebBold;
  font-weight: 700;
  font-size: 37px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  color: white;
}

#nav_plus img{
  width: 20px;
  height: 20px;
}


header:has(input[type="search"]:focus) ~ main{
  filter: blur(4px);
  transition: filter 0.3s ease;
}