.dropdown_item{
  padding: 20px 22px;
  background: white;
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  width: 462px;
  height: 62px;
  font-size: 20px;
  border-bottom: none;
  color: black;
}

.dropdown_item_unselected{
  color: #B9B9B9;
}

.dropdown_button{
  border-bottom: 1px solid black;
  margin-bottom: 47px;
}

.dropdown_item_selected{
  background-color: #d9d9d9;
  cursor:default;
}

.dropdown_container{
  display: flex;
}

.dropdown_menu{
  z-index: 100;
  gap: 0;
}

.dropdown_container .dropdown_item:last-child{
  border-bottom: 1px solid black;
}