.dropdown_item{
  padding: 10px 11px;
  background: white;
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  width: 462px;
  height: 62px;
  font-size: 20px;
  border-bottom: none;
  color: black;
  box-sizing: border-box;
  position: relative;
  display: flex;
}

.dropdown_item_unselected{
  color: #B9B9B9;
}

.dropdown_button{
  border-bottom: 1px solid black;
  margin-bottom: 47px;
}

.dropdown_item_selected{
  background-color: #d9d9d9;
  cursor:default;
}

.dropdown_container{
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdown_menu{
  z-index: 100;
  gap: 0;
}

.dropdown_container .dropdown_item:last-child{
  border-bottom: 1px solid black;
}

.cancel_button{
  position: absolute;
  right: 5px;
  padding: 5px;
  top: auto;
  align-self: center;
}

.radio{
  text-align: left;
  align-self: flex-start;
}