/* FOOTER */

.footer {
  padding: 46px 0;
  background-color: rgb(128, 68, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
  background: linear-gradient(192.08deg, #2C3331 -88.48%, #212121 141.66%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.description{
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  margin: 0;
}

/* social media */

.social_media_text{
  font-size: 20px;
  font-family: var(--font-istok-web);
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
}

.footer_logo{
  font-size: 20px;
}

.social_media{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;
}

.social_media_images{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* faq */

.faq{
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
  margin-top: 24px;
}

.faq_column{
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.faq_column_span{
  font-size: 20px;
  font-family: var(--font-istok-web);
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  text-align: left;
}

/* download buttons */

.download_buttons{
  margin-top: 66px;
  display: flex;
  flex-direction: row;
  gap: 190px;
  justify-content: center;
}